*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --hover: #34738d;
    --secont-color: #8bc5d5;
    --main: #294150d8;
}

/* navbar */
.navbar {
    background-color: #8bc5d5;
    box-shadow: 5px 2px 9px #9ee1f3;
}

.navbar .link {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    margin-right: 1rem;
    transition: 0.7s ease-in;
}

.navbar .link:focus {
    color: var(--hover);
    border-bottom: 2px var(--hover) solid;
    width: max-content;
} 

/* homepage */
.home {
    margin-top: 15vh;
}

.home h5 {
    font-weight: 400;
    text-transform: capitalize;
    color: var(--main);
    letter-spacing: -1px;
}

.home .once-paragraphe-home {
    font-size: 5rem;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 70px;
    margin: 20px 0;
}

.home .once-paragraphe-home span {
    color: var(--hover);
}

.home .twice-paragraphe-home {
    color: var(--main);
    font-size: 20px;
    font-weight: 500;
}

.home .btn-about {
    text-transform: capitalize;
    border: 1px solid;
    margin: 20px 10px 0 0;
    font-weight: 500;
    font-size: smaller;
}

.home .btn-about:hover {
    background-color: var(--main);
    color: #fff;
}

.home .btn-contact {
    font-size: smaller;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    background-color: var(--secont-color);
    margin: 20px 10px 0 0;
}

.home .btn-contact:hover {
    background-color: var(--hover);
    color: #fff;
}

.home img {
    width: 100%;
    border-radius: 50%;
    border: 1px solid var(--main);
    padding: 40px;
}